@use "~@angular/material/theming" as material;
@use "sass:map";

// Extra colors
$workshop-success: material.mat-palette(material.$mat-green);
$workshop-info: material.mat-palette(material.$mat-blue);

$typography: material.mat-typography-config(
    $input: material.mat-typography-level(20px, 1.125, 400),
);

@function apply-extra-colors($theme) {
    @return map.deep-merge(
        $theme,
        (
            success: $workshop-success,
            info: $workshop-info,
            color: (
                success: $workshop-success,
                info: $workshop-info,
            ),
        )
    );
}

@mixin apply-component-header-color($workshop-primary) {
    .component-header {
        background-color: $workshop-primary;
    }
}



@mixin create-theme($workshop-theme) {
    @include material.angular-material-theme($workshop-theme);
    // @include theme-color-grabber($workshop-theme);
    // @include material.mat-core-theme($workshop-theme);
    // @include material.mat-select-theme($workshop-theme);
    // @include material.mat-sidenav-theme($workshop-theme);
    // @include material.mat-icon-theme($workshop-theme);
    // @include material.mat-toolbar-theme($workshop-theme);
    // @include material.mat-button-theme($workshop-theme);
    // @include material.mat-card-theme($workshop-theme);
    // @include material.mat-menu-theme($workshop-theme);
    // @include material.mat-nav-theme($workshop-theme);

    // @include angular-material-theme($my-custom-theme);
    // @include banner.app-banner-theme($workshop-theme);
    // @include root.app-root-theme($workshop-theme);
}

.custom__form--field {
    width: 70%;
    font-size: 16px !important;
    padding: 10px;
}
