@use "~@angular/material/theming" as material;
@use "./common.scss";
// @include material.mat-core();

$workshop-primary: material.mat-palette(material.$mat-purple,400);
$workshop-accent: material.mat-palette(material.$mat-amber, A200, A400);
$workshop-wran: material.mat-palette(material.$mat-pink,A200);

// --primary-color: mat-color($workshop-primary);

$workshop-theme: material.mat-dark-theme(
    (
        color: (
            primary: $workshop-primary,
            accent: $workshop-accent,
            warn: $workshop-wran,
            disable: $workshop-accent,
        ),
        typography: common.$typography,
        
    )
    
);

:root{
    --primary:#ab47bc;
    --accent:#ffd740;
    --text:#ffffffd1;
}

  
$workshop-theme: common.apply-extra-colors($workshop-theme);


//Generate theme

@include common.create-theme($workshop-theme);
// @include common.apply-component-header-color($workshop-primary);

// $my-custom-primary: material.mat-palette(material.$mat-purple, A100, A200);
// $my-custom-accent: material.mat-palette(material.$mat-pink, A200, A100);
// $my-custom-warn: material.mat-palette(material.$mat-lime);

// // Dark theme
// $my-custom-theme: material.mat-dark-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

// // Main theme defination

// @include material.angular-material-theme($my-custom-theme);


.active {
    background-color: #00000030;
}

.accent__bg--color {
    background-color: #ffd740;
}