@use "~@angular/material/theming" as material;
@use "./common.scss";

$workshop-primary: material.mat-palette(material.$mat-purple, 500);
$workshop-accent: material.mat-palette(material.$mat-amber, 500, 200);

$workshop-theme: material.mat-light-theme(
    (
        color: (
            primary: $workshop-primary,
            accent: $workshop-accent,
            warn: material.mat-palette(material.$mat-red),
            // success: material.mat-palette(material.$mat-green),
        ),
        typography: common.$typography,
        // density: minimum,
    )
);

:root{
    --primary:#9c27b0;
    --accent:#ffd54f;
    --text:#ffffffd1;
    --success:green;
    --danger:red;
    --warn:#eeb200;
    --label:rgba(0, 0, 0, 0.54);
}

// Define a custom mixin that takes in the current theme


$workshop-theme: common.apply-extra-colors($workshop-theme);

// @mixin generate-theme-vars() {
//     --primary-color: #e040fb;
// }

//Generate theme
// @include generate-theme-vars();
@include common.create-theme($workshop-theme);

.active {
    background-color: #7b1fa226;
}

.accent__bg--color {
    background-color: #ffd54f;
}