<app-component-page-header></app-component-page-header>
<mat-accordion>
    <ng-container *ngFor="let project of projects">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                    <div style="width: 40%;">
                        <p class="project__link mat-subheading-2">{{project.name}}</p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" style="width: 30%;">
                        <mat-progress-bar [color]="color" [mode]="determinate" [value]="project.progress">
                        </mat-progress-bar>
                        <span class="mat-body-2">{{project.progress}}%</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" style="width: 30%;">
                        <div class="project__status--badge" [class]="project.status.toLowerCase()">
                            {{project.status}}
                        </div>
                    </div>
                </div>
            </mat-expansion-panel-header>
            <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                <div fxLayout="column" fxLayoutAlign="center center" >
                    <p class="mat-body-2">Start Date</p>
                    <p class="mat-body-1">{{project.startDate}}</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <p class="mat-body-2">End Date</p>
                    <p class="mat-body-1">{{project.targetEndDate}}</p>
                </div>
                <!-- <div fxLayout="column" fxLayoutAlign="center center">
                    <p class="mat-body-2">Total Phase</p>
                    <p class="mat-body-1">{{project.phases.length}}</p>
                </div> -->
                <div fxLayout="column" fxLayoutAlign="center center">
                    <p class="mat-body-2">Current Version</p>
                    <p class="mat-body-1">{{project.currentVersion}}</p>
                </div>
            </div>
        </mat-expansion-panel>
    </ng-container>


</mat-accordion>