<form [formGroup]="phaseForm">
    <div style="width: 80%;">
        <div fxLayout="row" fxLayoutAlign="start center">
            <p class="mat-headline">Add Phase</p>
            <button mat-mini-fab class="mini__add--btn">
                <mat-icon class="add-course-btn">add</mat-icon>
            </button>
        </div>
    </div>
    <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="center center" class="phase__wrapper">
          
            <ng-container formArrayName="phases">
                <ng-container *ngFor="let mainForm of phases().controls; let mainIndex = index">
                    <ng-container [formGroup]="mainForm">
                        <mat-form-field class="custom__form--field">
                            <input matInput placeholder="Phase Name" type="text" formControlName="name" name="name"
                                required>
                            <mat-error>
                                Please provide a name
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom__form--field">
                            <input matInput placeholder="Start Date" type="date" formControlName="startDate"
                                name="startDate" required>
                            <mat-error>
                                Please provide a date
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom__form--field">
                            <input matInput placeholder="Development End Date" type="date" formControlName="developmentEndDate"
                                name="developmentEndDate" required>
                            <mat-error>
                                Please provide a date
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom__form--field">
                            <input matInput placeholder="Testing Start Date" type="date" formControlName="testingStartDate"
                                name="testingStartDate" required>
                            <mat-error>
                                Please provide a date
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom__form--field">
                            <input matInput placeholder="Testing End Date" type="date" formControlName="testingEndDate"
                                name="testingEndDate" required>
                            <mat-error>
                                Please provide a date
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom__form--field">
                            <input matInput placeholder="Release Date" type="date" formControlName="releaseDate"
                                name="releaseDate" required>
                            <mat-error>
                                Please provide a date
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="custom__form--field">
                            <input matInput placeholder="Payment Receive" type="number" formControlName="amount"
                                name="amount" required>
                            <mat-error>
                                Please provide a date
                            </mat-error>
                        </mat-form-field>
                        <div class="feature__wrapper">
                            <p class="subheading-2">Feature List</p>
                            <ul >
                                <li *ngFor="let item of features">
                                    t
                                </li>
                            </ul>
                        </div>
                    </ng-container>

                </ng-container>
            </ng-container>

        </div>
        <div fxLayout="column">
    
                <ng-container *ngFor="let feature of featureList.features">
                    <section >
                    <mat-checkbox >{{feature.name}}</mat-checkbox>
                </section>
                </ng-container>
       
      
          
        </div>
    </div>


</form>