<form [formGroup]="basicInfoForm">

    <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
        <mat-form-field class="custom__form--field">
            <input matInput placeholder="Project Name" type="text" formControlName="name" name="name" required>
            <mat-error>
                Please provide a project name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="custom__form--field">
            <input matInput placeholder="Start Date" type="date" formControlName="startDate" name="startDate"
                required>
            <mat-error>
                Please provide a project name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="custom__form--field">
            <input matInput placeholder="Target End Date" type="date" formControlName="targetEndDate"
                name="endDate" required>
            <mat-error>
                Please provide a target end date
            </mat-error>
        </mat-form-field>
        <mat-form-field class="custom__form--field">
            <input matInput placeholder="Budget" type="number" formControlName="budget" name="budget" required>
            <mat-error>
                Please provide a target end date
            </mat-error>
        </mat-form-field>
        <mat-form-field class="custom__form--field">
            <textarea matInput placeholder="Note" type="text" formControlName="note" name="note"
                rows="5"></textarea>

        </mat-form-field>
        <button mat-raised-button color="accent" matStepperNext>Next</button>

    </div>
</form>