<mat-stepper #stepper>
    <mat-step [stepControl]="projectForm" errorMessage="basic info is required.">
        <app-basic-info-form [basicInfoForm]="projectForm"></app-basic-info-form>
    </mat-step>
    <mat-step [stepControl]="mainFeatureForm" errorMessage="Address is required.">
            <app-feature-form [mainFeatureForm]="mainFeatureForm"></app-feature-form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>