/* You can add global styles to this file, and also import other style files */
@use "~@angular/material/theming" as material;

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

@include material.mat-core();

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.mini__add--btn {
    margin-left: 20px !important;
    margin-bottom: 8px !important;
}
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
